# htaccess file version 1.2.8.0;
# When Zenphoto requires changes to the rewrite rules:
#		First make a copy of this file as 'oldhtaccess' in the zp-core folder so setup can test for unmodified files
#		Update the above and the define in setup.php

DirectoryIndex index.html index.php

AuthType Basic
AuthName "Admin"
require valid-user

<Files "index.html">
  # All access controls and authentication are disabled
  # in this directory
  Satisfy Any
  Allow from all
</Files>

<Files "favicon.ico">
  # All access controls and authentication are disabled
  # in this directory
  Satisfy Any
  Allow from all
</Files>

<Files "">
  # All access controls and authentication are disabled
  # in this directory
  Options -Indexes
  Satisfy Any
  Allow from all
</Files>

# END TEMP HACK

<IfModule mod_rewrite.c>
  RewriteEngine On
  
  RewriteBase /
  
  #### standard redirect to avoid http://www.vlinecars.com 
  RewriteCond %{HTTP_HOST} ^www.vlinecars\.com$ [NC]
  RewriteRule ^(.*)$ http://vlinecars.com/$1 [R=301,L]
  
  RewriteRule ^admin/?$       										gallery/zp-core [L,QSA]
  
  # START TEMP HACK
  # 404 - Page not found
  # ErrorDocument 404 /404.html 
  
  # 400 - Bad request
  # 500 - Internal Server Error 
  # ErrorDocument 400 /error.html 
  # ErrorDocument 500 /error.html 
  
  # 401 - Authorization Required
  # 403 - Forbidden directory
  # ErrorDocument 401 /forbid.html 
  # ErrorDocument 403 /forbid.html 
  # END TEMP HACK
  
  RewriteRule ^index.php?$       									gallery/index.php?p=home [L,QSA]
  
  # CMS related stuff, redirect to Zenphoto
  RewriteRule ^misc/sitemap/?$       								sitemap.php [L,QSA]
  RewriteRule ^misc/search/?$       								search.php [L,QSA]
  RewriteRule ^misc/contact/?$       								gallery/index.php?p=contact&type=misc [L,QSA]
  RewriteRule ^misc/([-a-zA-Z0-9]*)/?$       						gallery/index.php?p=pages&type=misc&title=$1 [L,QSA]
  RewriteRule ^operations/([-a-zA-Z0-9]*)/?$       					gallery/index.php?p=pages&type=operations&title=operations/$1 [L,QSA]
  RewriteRule ^operations/([-a-zA-Z0-9]*)/([-a-zA-Z0-9]*)/?$       	gallery/index.php?p=pages&type=operations&title=operations/$1/$2 [L,QSA]
  RewriteRule ^operations/?$       									gallery/index.php?p=pages&type=operations&title=operations [L,QSA]
    
  # News related stuff, redirect to Zenphoto as CMS
  RewriteRule ^news/?$       										gallery/index.php?p=news [L,QSA]
  RewriteRule ^news/([-a-zA-Z0-9]*)/?$       						gallery/index.php?p=news&title=$1 [L,QSA]
  RewriteRule ^news/category/([-a-zA-Z0-9]*)/?$       				gallery/index.php?p=news&category=$1 [L,QSA]
  RewriteRule ^news/category/([-a-zA-Z0-9]*)/([0-9]*)/?$       		gallery/index.php?p=news&category=$1&page=$2 [L,QSA]
  
  # CIMS custom stuff
  RewriteRule ^region/station/(.*)/?$       			locations-tool.php?name=$1 [L,QSA]
  RewriteRule ^region/(.*)/?$       					lineguide-tool.php?line=$1 [L,QSA]
  # make parent pages use Zenphoto as CMS
  RewriteRule ^regions/?$       						gallery/index.php?p=pages&type=misc&title=regions [L,QSA]
  RewriteRule ^region/?$       							gallery/index.php?p=pages&type=misc&title=regions [L,QSA]
  
  RewriteRule ^carriages/by-number?$                   	carriages-tool.php?section=number [L,QSA]
  RewriteRule ^carriages/by-type/?$                   	carriages-tool.php?section=type [L,QSA]
  RewriteRule ^carriage/number/(.*)/?$                  carriages-tool.php?car=$1 [L,QSA]
  RewriteRule ^carriage/type/(.*)/?$                   	carriages-tool.php?type=$1 [L,QSA]
  RewriteRule ^carriages/([a-z])-type/?$                carriages-tool.php?section=$1 [L,QSA]
  RewriteRule ^carriages/parcel-vans/?$                	carriages-tool.php?section=parcel-vans [L,QSA]
  RewriteRule ^carriages/power-vans/?$                	carriages-tool.php?section=power-vans [L,QSA]
  RewriteRule ^carriages/loose-cars/?$                	carriages-tool.php?section=loose-cars [L,QSA]
  # make parent pages use Zenphoto as CMS
  RewriteRule ^carriages/?$       						gallery/index.php?p=pages&type=misc&title=carriages [L,QSA]
  RewriteRule ^carriage/?$       						gallery/index.php?p=pages&type=misc&title=carriages [L,QSA]
  
  RewriteRule ^carsets/by-number/?$                   	carsets-tool.php?section=number [L,QSA]
  RewriteRule ^carsets/by-type/?$                   	carsets-tool.php?section=type [L,QSA]
  RewriteRule ^carset/number/(.*)/?$                   	carsets-tool.php?set=$1 [L,QSA]
  RewriteRule ^carset/type/(.*)/?$                   	carsets-tool.php?type=$1 [L,QSA]
  RewriteRule ^carsets/([a-z])-type/?$                	carsets-tool.php?section=$1 [L,QSA] 
  # make parent pages use Zenphoto as CMS
  RewriteRule ^carsets/?$       						gallery/index.php?p=pages&type=misc&title=carsets [L,QSA]
  RewriteRule ^carset/?$       							gallery/index.php?p=pages&type=misc&title=carsets [L,QSA]
  
  RewriteRule ^railcars/by-number/?$                   	railcars-tool.php?section=number [L,QSA]
  RewriteRule ^railcars/by-type/?$                   	railcars-tool.php?section=type [L,QSA]
  RewriteRule ^railcar/number/(.*)/?$                   railcars-tool.php?car=$1 [L,QSA]
  RewriteRule ^railcars/(.*)/?$                   		railcars-tool.php?type=$1 [L,QSA]
  # make parent pages use Zenphoto as CMS
  RewriteRule ^railcars/?$       						gallery/index.php?p=pages&type=misc&title=railcars [L,QSA]
  RewriteRule ^railcar/?$       						gallery/index.php?p=pages&type=misc&title=railcars [L,QSA]
  
  RewriteRule ^locomotive/number/(.*)/?$                locomotives-tool.php?number=$1 [L,QSA]
  RewriteRule ^locomotives/(.*)-class/?$				locomotives-tool.php?class=$1 [L,QSA]
  # make parent pages use Zenphoto as CMS
  RewriteRule ^locomotives/?$       					gallery/index.php?p=pages&type=misc&title=locomotives [L,QSA]
  RewriteRule ^locomotive/?$       						gallery/index.php?p=pages&type=misc&title=locomotives [L,QSA]

  RewriteRule ^liveries/?$       						liveries-tool.php [L,QSA]
</IfModule>
AuthUserFile "/home/mattyj/.htpasswds/public_html/vlinecars.com/passwd"
